:root {
    --gap-size: 32px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif;
    color: #000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

header,
footer {
    display: flex;
    width: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    gap: 12px;
}

header {
    justify-content: space-between;
    padding: 0 var(--gap-size);
    gap: calc(var(--gap-size) * 2);
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 6px 0;
    z-index: 1;
}

header #site-logo {
    font-weight: 600;
    font-size: 32px;
    padding: 16px;
    background: linear-gradient(90deg, #00bce5 0%, #2962ff 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

header input[type='search'] {
    padding: 10px;
    width: 100%;
    height: 32px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

footer {
    flex-direction: column;
    padding: calc(var(--gap-size) * 0.5) var(--gap-size);
    margin-top: var(--gap-size);
    border-top: solid 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

footer p {
    margin: 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

main {
    display: grid;
    width: 100%;
    padding: 0 calc(var(--gap-size) * 0.5);
    max-width: 1600px; /* Wider container for more space */
    grid-template-columns: repeat(3, 1fr); /* Explicit 4-column layout */
    grid-gap: var(--gap-size);
}


section {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
    border-radius: 8px;
    overflow: hidden;
}

#symbol-info,
#advanced-chart,
#company-profile,
#fundamental-data {
    grid-column: span 2;
}

#symbol-info {
    height: auto;
}

#advanced-chart {
    height: 500px;
}

#company-profile {
    height: 390px;
}

#fundamental-data {
    height: 490px;
}

#technical-analysis {
    grid-column: span 2; /* Span 2 columns */
    height: 425px;
}

#top-stories {
    grid-column: span 2; /* Span 2 columns */
    height: 425px;
}

@media (max-width: 800px) {
    main {
        grid-template-columns: repeat(2, 1fr); /* Switch to 2-column layout */
    }

    section {
        grid-column: span 2; /* Span entire row */
    }
}

#ticker-tape {
    width: 100%;
    margin-bottom: var(--gap-size);
}

.symbol-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Set a larger min-width for each section */
    gap: var(--gap-size);
    width: 100%;
    margin-bottom: var(--gap-size);
}
